@use "../../abstract" as *;

// .admin 


    
    
    .avatar{

        grid-area: 2 / 1 / 3 / 2;
        // overflow-y: scroll;
        overflow-x: hidden;

        width: 100%;
        height: 100%;
        
        border-radius: 20px;
        background-color: $admin-nuance-b-15;
        box-shadow: 
            // 2px -2px 6px 0 rgba(164, 164, 164, 0.31),
            // inset 4px 4px 4px 0 hsla(0,0%,0%, 0.31),
            0px 4px 8px 0 hsla(0,0%,0%, 0.21), 
            ;
        // box-shadow: inset 0 0px 4px 0;
        

        padding-inline: 4rem;
        padding-block: 2rem;

        overflow-y: scroll;
        overflow-x: hidden;


        &__navigation,&__action{
            @extend %flex-row-end-center;
            
            gap: 1rem;
            margin-bottom: 2rem;
        }
        
        
        turbo-frame#avatar-form{

            max-width: 1024px;
            height: 100px;
            background-color: tan;

            // form{
            //     @extend %flex-column-start-stretch;
            //     gap:2rem;
            //     margin-top: 2rem;

            //     .button__componnent{
            //         align-self: center;
            //     }
            // }

            
        }

        turbo-frame#avatar-frame,
        turbo-frame#avatar-container,
        turbo-frame#avatar-actions,
        turbo-frame#avatar-navigation,
        turbo-frame#result-frame
        {
            display: contents;
        }
        &__choice{
            // background-color: aqua;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 15rem);
            justify-items: center;
            justify-content: center;
            row-gap: 1rem;
            column-gap: 1rem;

            padding-block: 1rem;


            a{
                padding-block: 1rem;
                border-radius: 1rem;
                background-color: $admin-nuance-b-30;
                @extend %flex-row-center-center;
                width: 100%;
                font-weight: 500;
                transition: 
                    background-color 200ms ease-in-out,
                    color 100ms ease-in-out
                ;
                
                &:hover{
                    background-color: $admin-nuance-w-100;
                    color: $admin-nuance-b-30;
                }
            }
        }

        &__dropzone{
            @extend %flex-row-center-center;
            border: dashed 0.25rem $admin-nuance-w-87;
            border-radius: 1rem;
            padding-block: 4rem;
            position: relative;

            &:hover{
                background-color: $admin-nuance-b-30;
            }
            &.draghover{
                background-color: $admin-nuance-b-20;

            }

            .placeholder{
                pointer-events: none;
                text-align: center;
                color: $admin-nuance-w-87;
                font-weight: 600;
            }


            input[type="file"]{
                opacity: 0;
                cursor: pointer;
                z-index: 1;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &__resume{
            @extend %flex-column-start-stretch;
            gap: 2rem;

            .resume__table{
                display: grid ;
                
                justify-items: center;
                align-items: center;
                /* background-color: wheat; */
                border-radius: 1rem;
                padding: 2rem;
                border: dashed $admin-nuance-w-87 4px;
                row-gap: 1rem;

                .resume__header{
                    font-weight: 600;
                }

                .resume__button{
                    padding: 0.5rem 1.5rem;
                    border-radius: 1rem;
                    border: none;
                    background: indianred;
                }
                // .resume__cell{

                // }

                &--hair{
                    @extend .resume__table;
                    grid-template-columns: repeat(5, 1fr);
                }
                &--body{
                    @extend .resume__table;
                    grid-template-columns: repeat(6, 1fr);
                }
                &--part{
                    @extend .resume__table;
                    grid-template-columns: repeat(4, 1fr);
                }
                &--unkown{
                    @extend .resume__table;
                    grid-template-columns: repeat(2, 1fr);

                    .resume__header{
                        grid-column: 1 / span 2;
                    }
                }
            }
        }

        
    }
