@use "../abstract/" as *;

.dropzone{
    @extend %flex-column-start-stretch;
    gap:1rem;

    &-container {
        @extend %flex-row-center-center;
        padding: 2rem;
        border-radius: 10px;
        border: dashed 2px $admin-nuance-w-87;
        position:relative;
        min-height: 100px;

        transition: background-color ease 200ms;



        &:hover{
            background-color: $admin-nuance-b-30;
        }
        &.draghover{
            background-color: $admin-nuance-b-20;

        }

    }

    &-placeholder{
        
        pointer-events: none;
        text-align: center;
        color: $admin-nuance-w-87;
        font-weight: 600;

        &.hide{
            display: none;
        }

        span{
            text-decoration: underline;
        }
    }

    &-preview{

        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(64px, 200px));
        justify-content: space-around;
        gap: 2rem;

        &.hide{
            display: none;
        }

    
        &__container{
            width: 100%;
        }

        &__item{
            @extend %flex-column-center-center;
        }
    
        &__image{
            
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;

            min-width: 50px;
            width: 50px;
            min-height: 50px;

            object-position: center;
            object-fit: cover;

        }

        &__filename{
            word-wrap: anywhere;
            text-align-last: center;
            color: $admin-nuance-w-100;
        }
    }

    &-input{
        opacity: 0;
        cursor: pointer;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-helper{
        @extend %flex-row-end-center;
        gap: 2rem;
        padding-inline: 2rem;


    }




    
}

.dropzoneMultilePreview{
    
    @extend %flex-column-start-stretch;
    gap: 1rem;
    padding-block-end:2rem;

    .dropzone__container{
        height: 12rem;
        width: 100%;
        
        border-radius: 1rem;
        border: 0.125rem dashed $admin-nuance-w-87;
        
        position:relative;
        @extend %flex-column-center-center;


        input{
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            opacity:0 ;
            z-index: 2;
        }
    }
    .preview{
        &__container{
            @extend %flex-column-start-stretch;
            gap: 1rem;
        }
        &__row{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            padding-inline: 2rem;
            justify-items: center;
            align-items: center;

            label{
                @extend %flex-column-center-center;
                gap:1rem;

            }
        }
        &__btn{
            all: unset;
            height: 2.25rem;
            width: 2.25rem;
            background: indianred;
            border-radius: 0.5rem;

            svg{
                    color: white;
            }
        }
        &__img{

            height: 5rem;
            width: 4rem;

            img{

                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;

            }
        }

        &__radio{
            height: 1.25rem;
            width: 1.25rem;
        }

    }
}