@use "../abstract/" as *;

body main .grid{
    

    // background-color: tan;
    display: grid;
    grid-template-columns: 15rem 1fr;
    max-height: 100%;
    column-gap: 2rem;
    
    &__filter{
        @extend %flex-column-start-stretch;
        height: max(70dvh, 700px);
        gap: 2rem;
        padding-block: 1rem;
        padding-inline: 1rem;
        border-radius: 1rem;
        background-color: $admin-nuance-b-30;
        box-shadow: inset 0 0px 4px 0 hsla(0,0%,0%, 1);
        overflow-y: scroll;

        .filter{
            @extend %flex-column-start-stretch;
            gap: 0.75rem;

            &__title{
                background-color: $admin-nuance-b-15;
                box-shadow: 0px 2px 4px 0 $admin-nuance-b-15;
                border: 2px solid $admin-nuance-b-15;
                border-radius: 1rem;
                outline: unset;
                text-align: center;

                font-size: 1.5rem;
                font-weight: 500;

                margin-block-end: 1rem;

                padding-block: 0.75rem;

                // display: block;

                &:hover{
                    background-color: $admin-nuance-b-20;
                    border: 2px solid $admin-nuance-b-20;
                }

                &--open{
                    background-color: $admin-nuance-b-30;
                    border: 2px solid $admin-nuance-b-20;

                    &:hover{
                        background-color: $admin-nuance-b-20;
                        border: 2px solid $admin-nuance-b-20;
                    }
                }

                
            }


            &__items{
                // padding-inline:1rem;
                @extend %flex-column-start-stretch;
                gap: 1rem;
                input[type='checkbox']{
                    width: auto;
                }

                transition: 
                    max-height 200ms ease 200ms;

                &--close{
                    overflow: hidden;
                    max-height: 0;
                    .filter__item{
                        transition: 
                            opacity 200ms ease ;
                        opacity: 0
                    }
                }
                &--open{
                    .filter__item{
                    transition: 
                        opacity 200ms ease 400ms ;
                        opacity: 1;
                    }
                }
            }
            &__item{
                padding-inline:1rem;
                @extend %flex-row-start-center;
                gap: 2rem;

                input[type='checkbox']{
                    width: auto;
                }
            }
        }
    }
    &__result{
        height: max(700px, 70dvh);

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        align-content: start;
        justify-items: center;
        row-gap: 2rem;
        column-gap: 0.75rem;
        padding: 2rem;
        border-radius: 1rem;
        background-color: $admin-nuance-b-30;;
        // background-color: hsla(0,0%,0%, 1);
        box-shadow: inset 0 0px 4px 0 hsla(0,0%,0%, 1);
        overflow-y: scroll;

        &--empty{
            


            @extend %flex-row-center-center;
            background-color: $admin-nuance-b-30;;
            padding: 2rem;
            border-radius: 1rem;
            // background-color: hsla(0,0%,0%, 1);
            box-shadow: inset 0 0px 4px 0 hsla(0,0%,0%, 1);
            overflow-y: scroll;

            p{
                text-align: center;
            }
        }
        .card{
            height: 14rem;
            width: 10rem;
            @extend %flex-column-center-stretch;
            gap: 1rem;
            padding-inline: 0.5rem;
            padding-block: 0.5rem;
            border-radius: 1rem;
            box-shadow: 0 0px 4px 0 hsla(0,0%,0%, 1);
            position: relative;
            transform: rotate(0);
            transition: 
                transform 250ms ease-in-out,
                background-color 250ms ease-in-out;
            
            &:hover{
                transform: rotate(-0.75deg);
                cursor: pointer;
            }

            &--unselected{
                background-color: $admin-nuance-b-15;
                
            }
            &--selected{
                background-color: $admin-nuance-b-20;
                
            }

            &__selectInput{
                position:absolute;
                top: -0.25rem;
                left:  -0.25rem;
                width: 1.25rem;
                height: 1.25rem;
                pointer-events: none;

                transition: 
                    transform 250ms ease 200ms,
                    opacity 200ms ease 
                ;

                display: none;
                opacity: 0;
                transform: rotateY(90deg);
            

                &--select-mode-on {
                    // @extend .card__selectInput;
                    display: inline-block;
                    opacity: 1;
                    transform: rotateY(0);
                }   
            }
            &__image{
                position:relative;
                height: 7.75rem;
                width: 100%;
                pointer-events: none;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                    pointer-events: none;

                    &.img--front{
                        z-index: 4;
                        background-color: aqua;
                    }
                    &.img--back{
                        z-index: 2;
                        background-color: tan;
                    }

                }
            }

            p{
                text-align: center;
                word-wrap: break-word;
                font-weight: 500;
                pointer-events: none;
            }

        }
    }


}